/* Global value for my color */
:root {
    --my-color: #01579b;
  }

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

nav {
    padding-left: 20px;
}

li {
    font-family: serif;
}

main {
    flex: 1 0 auto;
}

figure {
    margin: 0px 0px 20px 0px;
    text-align: center;
}

a {
    color: var(--my-color);
}

/* input field, label, and icon focus color */
.input-field input:focus + label,
.input-field .prefix.active,
.input-field textarea:focus:not([readonly])+label {
    color: var(--my-color) !important;
}

/* label underline focus color */
.input-field input:focus,
.input-field textarea:focus:not([readonly]) {
    border-bottom: 1px solid var(--my-color) !important;
    box-shadow: 0 1px 0 0 var(--my-color) !important;
}

/* Define a background color, in case there is an issue accessing my background image tile */
.my-background {
    background-color: lightgray;
    background-image: url("../images/Background-gray-textured.jpg");
    background-repeat: round;
}

.my-container {
    background-color: white;
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
}

.my-h1 {
    font-family: serif;
    padding-top: 10px;
    margin-bottom: 0px;
}

.my-row {
    padding-bottom: 20px;   
}

.my-image {
    max-width: 300px;
    max-height: 300px;
    float: left;
    margin-right: 20px;
}

.my-para {
    color: gray;
    font-size: 18px;
}

.my-btn {
    background-color: var(--my-color);
    margin-bottom: 20px;
}

.my-btn:hover {
    background-color: rgb(93, 0, 108);
}

.my-page-footer {
    padding-top: 0px;
}