/* Global value for my color */
:root {
    --my-color: #01579b;
  }

/* From Materialize documentation */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

/* Brand name too close to left edge */
nav {
    padding-left: 20px;
}

/* Serifs for list items and headings, Sans-serif for everything else */
li {
    font-family: serifs;
}

/* Need bottom margin for space between when wrapping */
figure {
    margin: 0px 20px 20px 0px;
    text-align: center;
    float: left;
}

a {
    color: var(--my-color);
}

/* input field, label, and icon focus color */
.input-field input:focus + label,
.input-field .prefix.active,
.input-field textarea:focus:not([readonly])+label {
    color: var(--my-color) !important;
}

/* label underline focus color */
.input-field input:focus,
.input-field textarea:focus:not([readonly]) {
    border-bottom: 1px solid var(--my-color) !important;
    box-shadow: 0 1px 0 0 var(--my-color) !important;
}

/* Define a background color, in case there is an issue accessing my background image tile */
.my-background {
    background-color: lightgray;
    background-image: url("../images/Background-gray-textured.jpg");
    background-repeat: round;
    width: 100% !important; /* mobile was not displaying properly without this */
}

/* Content in white space, on gray background */
.my-container {
    background-color: white;
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
}

/* Serifs for list items and headings, Sans-serif for everything else */
.my-h1 {
    font-family: serif;
    padding-top: 10px;
    margin-bottom: 0px;
}

.my-row {
    padding-bottom: 20px;   
}

.my-image {
    max-width: 300px;
    max-height: 300px;
}

.my-para {
    color: gray;
    font-size: 18px;
}

.my-btn {
    background-color: var(--my-color);
    margin-bottom: 20px;
}

.my-btn:hover {
    background-color: rgb(93, 0, 108);
}

.my-page-footer {
    padding-top: 0px;
}